/ShareGames-war/nbproject/private/
/ShareGames-ejb/nbproject/private/
/nbproject/private/
/ShareGames-war/build/
/ShareGames-ejb/build/
/ShareGames-ejb/dist/
/build/
/dist/
/ShareGames-war/dist/